* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}
.container {
    display: flex;
    display: -webkit-flex;
    flex: 1;
}
.aside{
    display: flex;
    flex: 2;
    flex-direction: column;
}
.article{
    order: -1;
    flex: 13;
}
.aside-top{
    flex: 8;
}
.aside-bottom{
    flex: 2;
}