html, body {
    height: 100%;
}

body {
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-direction: column;
}

header, footer {
    flex: 1;
}

.content {
    flex: 10;
    display: -webkit-flex;
    display: flex;
}

main {
    flex: 1;
}

nav {
    order: -1;
}

nav, aside {
    flex: 0 0 10%;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        flex: 6;
    }

    nav, aside, main {
        flex: auto;
    }
}