*{
    padding: 0;margin: 0;
}
html,body{
    height: 100%;
}
body{
    display: -webkit-flex;
    display: flex;
}
.container{
    display: -webkit-flex;
    display: flex;
    flex: 1;
}
.nav{
    flex: 1;
    order: -1;
    overflow: hidden;
    min-width: 150px;
}
.article{
    flex:9;
    overflow-y: scroll;
}