<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="PController">
    <div ng-controller="child1Con">
        <p>{{infor1.name}}</p>
        <input type="button" ng-click="alertCon()" value="Commen"/>
        <input type="button" ng-click="child1Alert1()" value="child1Con"/>
    </div>
    <div ng-controller="child4Con">
        <p>{{infor4.name}}</p>
        <input type="button" ng-click="child1Alert4()" value="child1Con"/>
    </div>

</div>
</body>
<script src="angular.min1.21.js"></script>
<script src="angular_controller.js"></script>
</html>