<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular_form</title>
</head>
<body ng-app="formAngular">
<div ng-controller="formCtrl">
    <div><span>邮箱：</span><input type="email" placeholder="请输入邮箱" ng-model="info.mail"></div>
    <div><span>密码：</span><input type="password" ng-model="info.password" placeholder="数字、下划线和字母"></div>
    <div>
        <input type="checkbox" ng-model="info.isCheck"/>
    </div>
    <div>
        <span style="display: inline-block;background: orangered;cursor: pointer" ng-click="setInfo()">设置信息</span>
        <span style="display: inline-block;background: orangered;cursor: pointer" ng-click="getInfo()">得到信息</span>
        <span style="display: inline-block;background: orangered;cursor: pointer" ng-click="resetInfo()">重置信息</span>
    </div>

</div>


</body>
<script src="angular.min1.21.js"></script>
<script src="angular_form.js"></script>
</html>